body{
      overflow:hidden;
}
form{
      position: relative;
      top:-600px;
      left:700px;
      background-color:white;
      height: 480px;
      width: 500px;
      border-radius: 30px;
      outline: black;
}
h2{
      font-size: 40px;
      color:black;
      position: relative;
      top:10px;
      left:80px;
}

span{
      color:red;
      position: relative;
      top:-60px;
      font-size: 25px;
}
label{
      font-size: 40px;
      color:black;
      padding:10px;
}
input{
      margin:10px 30px;
      height: 40px;
      width: 400px;
}
