body{
    overflow:visible;
}
form{
    position: relative;
    top:-650px;
    left:600px;
    background-color: white;
    height: 500px;
    width: 500px;
    border-radius: 30px;
}
h2{
    font-size: 40px;
    color:black;
    position: relative;
    top:-50px;
    left:80px;
}
.errormessage{
    color:red;
    text-align: center;
    font-size: 30px;
    position: relative;
    top:-30px;
}
span{
    color:red;
    position: relative;
    top:-60px;
    font-size: 25px;
}
label{
    font-size: 40px;
    color:red;
    padding:10px;
}
input{
    margin:10px 60px;
    height: 40px;
    width: 350px;
    position: relative;
    top:-40px;
    text-align: center;
}
.btn55{
    position: relative;
    top:10px;
    left:200px;
    background-color: purple;
    color:white;
    border: none;
    height: 40px;
}
img{
    height: 150px;
    position: relative;
    top:-70px;
    left:150px;
}
.primessage{
    color:green;
    text-align: center;
    font-size: 30px;
    position: relative;
    top:-30px;
}
