
input{
      border:1px solid black;
      border-radius: 5px;
      position: relative;
      top:-700px;
      left: 1100px;
      height: 40px;
      width: 250px;
      outline: none;
      text-align: center;
      display: inline-block;
     
}
.btn{
      position: relative;
      top:-696px;
      left: 1054px;
      border: none;
      background-color:black;
      height: 35px;
      width: 40px;
      border-radius: 10px;
      padding-top: 5px;

  

     
}
.fa-search{
      
      color:white;
      position: relative;
      left:2px;
}


#user_table{
      position: relative;
      top:-740px;
      left:400px;
}
h1{
   font-size: 50px;
   margin-left: -100px; 
   padding-left: 100px;
   color:#91091e;
   height: 50px;
   width: 100vw;
   font-family: 'Times New Roman', Times, serif;
   /* font-family: 'Roboto', sans-serif; */
   position: relative;
 
  
  

   
}

table{
      width: 1000px;
      position: relative;
      left:10px;
      top:-20px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
}
table th{
      color:black;
      font-size: 40px;
}
table td{
      font-size: 25px;
      text-align: center;
      padding-top: 5px;
}
tr:nth-child(even) {
      background-color:white;
    }

.pagination .page_number{
      display: inline;
      padding-right: 10px;
      color:red;
      position: relative;
      top:-1000px;
}